.hidden {
    display: none;
    visibility: hidden;
}


#weekCalendar{
    margin-left: 60px;
    margin-right:
}
body {
    background: url(/img/DisneyCastle.jpg);
    background-size: cover;
}

#calendarSelector {
    max-width: 250px;
}

#displayWeek {
    
    text-align: right;
}

#thirdColumn {
    max-height: 250px;
    flex-wrap: wrap;
    
}

.week {
    min-width: 100px;
    max-width: 300px;
}

#date {
    width: 50%;
    border-radius: 3px;
    border: 1px solid lightgray;
    display: block;
    min-width: 150px;
    
}

.form-select, .form-select-m {
    width: 50%;
    min-width: 150px;
    
}



img {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 3px;
}
 p{
    background-color: rgba(255,255,255,.3);
    border: 1px solid darkgray;
    border-radius: 4px;
    min-width: 125px;
    min-height: 100px;
 }

@media (max-width: 500px){
    h1{
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2{
      font-size: 20px;
      
    }

    h5{
        font-size: 15px;
        
    }
    div{
      margin: auto;
      flex-direction: column;
      min-width: 200px;
      
    }
    p{
      font-size: 13px;
      line-height: 24px;
      width: auto;
      min-width: 125px;
      min-height: 100px;
      white-space: pre;
    }
    small{
      font-size: 16px;
    }
    #week, #card, #card-body, #card-title{
        display: block;
        
       
        
    }
}